html {
    font-size: 16px;
}

body {
  font-size: 1rem; /* 正文为16px */
//   line-height: 1.6; /* 设置行高提升可读性 */
}

/* 使用rem单位，基于1.5的缩放系数 */
h1 { font-size: 3.375rem; } /* 54px */
h2 { font-size: 2.25rem; }  /* 36px */
h3 { font-size: 1.5rem; }   /* 24px */
h4 { font-size: 1.25rem; }  /* 20px */
p  { font-size: 1rem; }     /* 16px */